<p id="notice"><%= notice %></p>

<h1><i class="fa-solid fa-seedling fa-bounce"></i>アグリクリエイティブシード<i class="fa-solid fa-seedling fa-bounce"></i></h1>

<div class="content-wrapper">
  <iframe src="https://app.chatsimple.ai/iframe23/de7c3014-4fb0-4271-a3c4-b41cc939a434/93482522-1995-47ce-b232-1e39da47e887/42bac7aa-c6d1-46f3-a05a-e01cd5f36c77" 
    height="600px" width="600px" title="Chatsimple" 
    style="display:block;
          margin-left:auto;
          margin-right:auto;
          border:none;
          border-radius:20px;
          box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);">
  </iframe>

  <div class="blog-images">
    <img src="https://deciduous-justice-e13.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F26bd0260-3654-4e5e-b131-59dc841a12eb%2Fdc0ed9a8-9f52-41d2-b7ea-2dc2e4e2f3cd%2FUntitled.png?table=block&id=d6b8ccab-1955-45f9-87ee-04d0d5ac0400&spaceId=26bd0260-3654-4e5e-b131-59dc841a12eb&width=1230&userId=&cache=v2" >
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
